<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Discovery" verbose="1" >
  
       <test name="DetailPageOnTest">
    <classes>
      <class name="DetailPageOnTest.Verify_DetailPage_OnAllLevels"/>
       <class name="DetailPageOnTest.Verify_DetailPage_OnSeriesLevel"/>
        <class name="DetailPageOnTest.DetailPage_ErrorOnRecordDescription"/>
         <class name="DetailPageOnTest.DetailPage_CouldThisPageBeImproved_NO"/>
          <class name="DetailPageOnTest.DetailPage_CouldThisPageBeImproved_Yes"/>
          <class name="DetailPageOnTest.DetailPage_ShowImages_Offsite"/>
          
        
        </classes>
         </test>
   
</suite>
